<div class="section-container" role="main">
	<div th:substituteby="layout/partials/stickyHeader" />
	<section class="main" th:if="${order==null}">No Info available</section>
	<section class="main" th:if="${order!=null}">
		<div class="row">
			<div class="reportMain">
				<!-- main top div-->
				<div class="reportContainerTop" th:object="${order}">
					<table class="reportTable">
						<tr>
							<th colspan="3">Ordered Items</th>
						</tr>
						<tr>
							<td class="headerRow">Product Name</td>
							<td class="headerRow">Quantity</td>
							<td class="headerRow">Price</td>
						</tr>
						<div th:each="orderItem : *{orderItems}" th:object="${orderItem}"
							th:remove="tag">
							<tr>
								<td th:text="${orderItem.name}"></td>
								<td th:text="${orderItem.quantity}"></td>
								<td blc:price="${orderItem.totalPrice}"></td>
							</tr>

						</div>
						<tr class="footerRow">
							<td colspan="2" class="labelRight"><b>Order Total</b></td>
							<td blc:price="${order.subTotal}"></td>
						</tr>

						<tr class="footerRow">
							<td colspan="2" class="labelRight">Shipping Total</td>
							<td blc:price="${order.totalShipping}"></td>
						</tr>
						<tr class="footerRow">
							<td colspan="2" class="labelRight">Taxes</td>
							<td blc:price="${order.totalTax}"></td>
						</tr>
						<tr class="footerRow">
							<td colspan="2" class="labelRight">Grand Total</td>


							<td blc:price="${order.total}"></td>
						</tr>
					</table>

				</div>
				<!-- order summary-->

			</div>
			<!--end top main div-->
		</div>
		<!-- row end -->
		<!-- next-->
		<div class="row">
			<div class="reportMain">
				<!-- main bottom div-->
				<div class="reportContainerBottom">
					<!--shipment -->
					<table class="reportTable">
						<tr>
							<th colspan="3">Shippment Details</th>
						</tr>
						<tr><td th:if="${shipmentAddress == null}" colspan="3">No Info available</td></tr>
						<tr th:if="${shipmentAddress != null}">
							<td colspan="2"><b>Shipped To</b></td>
							<td>
							<span
								th:text="${shipmentAddress.address.firstName+' '+shipmentAddress.address.lastName}"></span><br />
								<span th:text="${shipmentAddress.address.addressLine1}"></span><br />
								<span th:text="${shipmentAddress.address.addressLine2}"></span><br />
								<span th:text="${shipmentAddress.address.city}"></span><br /> <span
								th:text="${shipmentAddress.address.country.name}"></span><br />
								<span th:text="${shipmentAddress.address.postalCode}"></span><br />								
							</td>
						</tr>
					</table>
				</div>
				<!-- shipment end-->
				<div class="reportContainerBottom">
					<table class="reportTable">
						<tr>
							<th colspan="4">Payment Information</th>
						</tr>
						<tr><td colspan="4"><div th:if="${#lists.isEmpty(order.payments)}">No Info available</div></td></tr>
						<div th:if="${order.payments!=null}">

						<div th:each="payment : ${order.payments}" th:object="${payment}"
							th:inline="text">
							<tr>
								<td><b>Payment Type</b></td>
								<td th:text="${payment.type}"></td>
							</tr>
							<tr>
								<td><b>Payment Amount</b></td>
								<td blc:price="${payment.Amount}"></td>
							</tr>
							<tr>
								<td><b>Reference Number</b></td>
								<td blc:price="${payment.referenceNumber}"></td>
							</tr>
						</div>
					</div>
					</table>

				</div>
				<!-- shipment end-->
				<div class="reportContainerBottom">
					<!-- Customer -->
					<table class="reportTable">
						<tr>
							<th>Billing Address</th>
						</tr>

						<tr>

							<td>
								<div th:if="${shipmentAddress == null}">No Info available</div>
								<div th:if="${shipmentAddress !=null}">
							<span
								th:text="${shipmentAddress.address.firstName+' '+shipmentAddress.address.lastName}"></span><br />
								<span th:text="${shipmentAddress.address.addressLine1}"></span><br />
								<span th:text="${shipmentAddress.address.addressLine2}"></span><br />
								<span th:text="${shipmentAddress.address.city}"></span><br /> <span
								th:text="${shipmentAddress.address.country.name}"></span><br />
								<span th:text="${shipmentAddress.address.postalCode}"></span><br />
								</div>
							</td>

						</tr>

					</table>


				</div>
				<!--payment end-->



			</div>
			<!--end bottom main div-->
		</div>
		<!-- row end -->
	</section>
</div>